@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
*{
    margin: 0;
    padding: 0;
}
  
.top-most{
    width: 100%;
    background-color: red;
    color: white;
  text-align: center;
padding: 5px 0;
position: fixed;
bottom: 0;
display: none;
  }
  .container {
    padding: 30px 30px 30px;
    width:70%;
    height:auto;
    margin: 50px auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;
    margin-top:2rem;
    background-color:white;
    border-radius:30px;
    box-shadow: 0px 0px 8px rgb(10, 10, 10);
  }
  
  h1 {
    font-size:4rem;
    font-weight:800;
    color:#FF3633;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  h1:hover{
    font-weight:450;
    letter-spacing:6px;
  }
  
  select {
    padding: 10px 5px;
    font-size: 16px;
    margin: 10px;
  }
  input {
    padding: 10px 0px;
    font-size: 16px;
    margin: 10px;
    padding-left: 10px;
  }
#label{
  font-size:1.5rem;
}
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF3633;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius:30px;
  }
  button p{
    font-size:1rem;
    font-family:Poppins;
    font-weight:600;
  }
  
  button:hover {
    color: black;
  }
  
  #diet-plan {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    padding: 1rem 2rem;
    border-radius: 10px;
    /* box-shadow: 0px 0px 8px rgb(58, 58, 58); */
  }
  

  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .navbar {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    background-color: rgb(0, 185, 185);
    top: 0;
    z-index: 99;
}
.navbar .left a{
    text-decoration:none;
    font-size: 1.5em;
    color:white;
    margin-left: 1rem;
}
.navbar .right{
    display: flex;
    gap:20px;
}
.navbar .right a{
    text-decoration: none;
    color:white;
    font-size: 1em;
    margin-right: 1rem;
}

.navbar p{
    font-size: 2em;
    font-weight: 600;
    color:white;
    left:50%;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.navbar p:hover{
    font-weight: 300;
    letter-spacing: 10px;
}

.navbar .right i{
    display: none;
    font-size: 1.5vw;
    color:white;
}
.name-user{
  font-size: 2.3rem;
  font-weight: 700;
  color:#00B9B9;
  text-align: center;
}

.diet-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
  background-color: #d6d6d6;
  width:50vw;
  border-radius:30px;
  height:500px;
  width:300px;
  padding:20px 20px 20px 20px ;
  margin:10px;
}
h3{
  font-size:2rem;
}

li{
  font-size:1.2rem;
}

.hr-seperator{
  width: 100%;
  margin: 1rem -1rem;
}
.back_img{
  height:200%;
  width:100%;
  background:url(../src/meal-planning-food-arrangement.jpg);
  background-size: 100%; 
  background-repeat: repeat;
  position:absolute;
  z-index:-99;
}

.back_opa{
  height:200%;
  width:100%;
  position:absolute;
  z-index:-99;
  background-color:white;
  opacity:0.3;
}


.veg-nonveg{
  font-size:1.3rem;
  font-weight:600;
  color:orangered;
}

.main-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}