@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
body {
    height:100vh;
    width:100%;
    overflow: hidden;
}


.main{
    height:100%;
    width:100%;
}

/* working on the navbar */
.navbar {
    height:90px;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    font-family: Poppins;
    background:transparent;
    position:fixed;
    z-index: 99;
}
.navbar .left a{
    text-decoration:none;
    font-size: 0.9vw;
    color:white;
}
.navbar .right{
    display: flex;
    gap:70px;
}
.navbar .right a{
    text-decoration: none;
    color:white;
    font-size: 0.9vw;
}

.navbar p{
    font-size: 1.4vw;
    font-weight: 600;
    color:white;
    position: fixed;
    left:46.5%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.navbar p:hover{
    font-weight: 300;
    letter-spacing: 10px;
}

.navbar .right i{
    display: none;
    font-size: 1.5vw;
    color:white;
}

/* working on the page 1 */
.page1 {
    height:100vh;
    width:100%;
    background:url("../src/Doctor\ operation\ photo.jpg");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index: 1;
    gap: 35vw;
}
.blue{
    height:100vh;
    width:100%;
    position: absolute;
    background-color: rgb(0, 185, 185);
    opacity: 0.8;
    z-index: 2;
}

.page1left{
    display: flex;
    flex-direction: column;
}
.maintitle{
    font-family:Poppins;
    z-index: 3;
    line-height: 15vh;
    padding-bottom: 15vh;
}
.maintitle p{
    font-size:5vw;
    color:white;
    font-weight: 800;
}

.maintitle p span{
    font-size: 6vw;
    color:rgb(255, 98, 0);
}


.Slogan1{
    font-size: 2vw;
    font-family:Poppins;
    z-index: 3;
    color:rgb(255, 98, 0);
    text-align: center;
    /* filter: drop-shadow(2px 2px white ); */
}
.Slogan2{
    font-size:2vw;
    font-family:Poppins;
    z-index: 3;
    color:rgb(171, 255, 248);
    text-align: center;
    /* filter: drop-shadow(2px 2px 0 black); */
}

.page1right{
    z-index: 3;
}
.page1right img{
    width:70%;
    position:absolute;
    right:-10%;
    top:13%;
    z-index: 5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.circle{
    height:600px;
    width:600px;
    background:linear-gradient(rgb(255, 40, 40),rgb(255, 225, 0));
    z-index: 999;
    position: absolute;
    right:6%;
    top:25%;
    border-radius: 50%;
    z-index: 4;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
    
/* page 2 starting from here  */

.page2{
    height:100vh;
    width:100%;
    background:url("../src/hospital\ bg.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    /* padding-left: 15vw; */
    padding-right: 10vw;
    z-index: 1;

}
.page2bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgb(117, 211, 255);
    /* filter:blur(10px); */
    opacity: 0.8;
}

.page2left{
    width:30%;
    /* border: 2px solid black; */
    z-index: 3;
}

.page2right{
    /* border: 2px solid black; */
    height:100%;
    width:35vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index: 3;
}

.page2right img{
    width:90%;
    border-radius:20px;
}
.page2right h1{
    font-size:4vw;
    font-weight:600;
    font-family: Poppins;
    text-align: center;
    line-height: 8vh;
    padding-top: 10vh;
}


.page3{
    height:100vh;
    width:100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    background:url("../src/medicine\ bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.page3 .bg{
    height:100%;
    width:100%;
    position: absolute;
    background-color: white;
    opacity:0.8;
    z-index: 2;
}
.page3left{
    width:35vw;
    height:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    flex-direction:column;
    z-index: 3;
    margin-left: 10vw;
}

.page3left h1{
    font-size:3.5vw;
    font-weight:500;
    line-height: 8vh;
    padding-top: 10vh;
}
.page3left img{
    width:90%;
    border-radius: 20px;
}
.page3right {
    width:35vw;
    height:100%;
}
.page4{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    background:url("../src/ai\ bg.webp");
    background-size:cover;
    background-position: center;
    z-index: 1;
}
.page4 .bg{
    height:100%;
    width:100%;
    position: absolute;
    background-color: rgb(111, 245, 255);
    opacity:0.8;
    z-index: 2;
}
.page4left{
    width:35vw;
    height:100%;
    /* border: 2px solid black; */
    z-index: 3;
}
.page4right{
    width:35vw;
    height:100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.page4right img{
    width:90%;
    border-radius:20px;
}
.page4right h1{
    font-size:3vw;
    font-weight:500;
    line-height: 8vh;
    padding-top: 10vh;
    color:black;
}


@media (280px<width<600px) {
    .page1right img{
        position: absolute;
        top:10%;
        left:5%;
        width:85vw;
    }
    .maintitle p{
        font-size:8vw;
        line-height:55px;
        position: absolute;
        left:22%;
    }
    .Slogan1{
        font-size:5vw;
        position: absolute;
        top:70%;
        left:20%;
    }
    .Slogan2{
        font-size:4vw;
        position: absolute;
        top:75%;
        left:29%;
    }
    .page2right img{
        position: absolute;
        left:20%;
        width:50%;
    }
    .page2right h1{
        font-size:6vw;
        position: absolute;
        left:30%;
        top:160%;
        z-index: 999999;
        line-height: 50px;
    }
    .page3left img{
        width:50vw;
        position: absolute;
        top:20%;
    }
    .page3left h1{
        font-size:6vw;
        position: absolute;
        top:40%;
    }
    .page4right img{
        position: absolute;
        top:344%;
        left:27%;
        width:48vw;
    }
    .page4right h1{
        position: absolute;
        font-size:6vw;
        top:360%;
        left:30%;
    }
}