@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
* {
    padding:0px;
    margin:0px;
}
body {
    height:100%;
    width:100%;
    background: rgb(171,164,246);
    background: linear-gradient(180deg, rgba(171,164,246,1) 0%, rgba(255,255,255,1) 47%, rgba(171,164,246,1) 100%); 
}
.page1 {
    width: 100%;
    height: auto;
}





/*  Top Navbar */
.top-navbar {
    width:98%;
    height:3vh;
    display: flex;
    padding-bottom: 30px;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#top-left-nav {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;
}

#top-right-nav {
    display: flex;
    flex-shrink:1;
}



/*The Main Navbar */
.navbar {
    width:98vw;
    height:auto;
    margin: 10px;
    padding: 5px;
    align-items: center;
    border-radius: 15px;
    background-color: #a39aff;
    border:3px #b0e9ff solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Left_nav {
    display: flex;
    justify-content: flex-start;
}
.Right_nav {
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

.Left_nav a{
    font-size: 40px;
    font-weight: 800;
    font-family:Poppins;
    color: rgb(48, 48, 48);
}
.Right_nav a{
    font-size: 24px;
    font-weight:500;
    font-family:Poppins;
    color: rgb(48, 48, 48);
}
.navbar a {
    text-decoration: none;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color:white;
    text-shadow: 0px 0px 6px #000000;
    transform: scale(1.1);
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 30px;;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.doc {
    height:100vh;
    width:50vw;
    display: flex;
    filter:drop-shadow(20px 10px 10px rgb(75, 75, 75));
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
    background:url("../src/doc_img.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.doc:hover {
    transform:scale(1.05);
}

.mainleft {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Main_title {
    color:rgb(44, 37, 37);
    font-size:100px;
    font-weight:900;
    font-family: Dela Gothic One;
    text-shadow: -7px 4px 4px rgba(255, 255, 255, 0.5);
    line-height: 120px;
    padding-left: 70px;
    animation-name: maintitleanime;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes maintitleanime {
    0%{
        position: relative;
        top:-20px;
        opacity: 0%;
        transform:scale(0.5);
    }
    100%{
        top:20px;
        opacity: 100%;
    }
}
.Slogan1 {
    font-size: 20px;
    font-family: Poppins;
    text-align: center;
    color: #292929;
    padding-top: 90px;
}
.Slogan2 {
    color: #1a1a1a;
    font-size: 70px;
    padding: 10px;
    background-color: #d7c7fc;
    font-family:Poppins;
    border:1px rgb(167, 167, 167) solid;
    border-radius: 35px;
}


.page2 {
    position: relative;
    top:-480px;
    height:1080px;
    width:1920px; 
}

#hosp_pic {
    height:50.25vh;
    width:600px;
    position: relative;
    left:100px;
    bottom:-250px;
    box-shadow: -10px 10px 10px #000000;
    border:1px #424242 solid;
    border-radius: 30px;
    background: url(../src/hosp_pic.jpg);
    background-position: center;
    background-size:117%;
    transition: all 0.5s ease;
} 
#hosp_pic:hover{
    border-radius: 50px;
    background-size:130%;
}
#pg2_title {
    font-size:60px;
    font-family: Dela Gothic One;
    position: relative;
    left:400px;
    text-align: center;
    bottom:200px;
    color:rgb(41, 41, 41);
}
.button01 {
    width:300px;
    height:95px;
    background-color: #c1aaff;
    color:salmon;
    position: relative;
    left:123vmin;
    bottom:200px;
    border-radius: 40px;
    transition: all 0.3s ease-in;
    font-family:Dela Gothic One;
    font-size:25px;
}
.button01 a {
    text-decoration: none;
    position: relative;
    top:27px;
    left:50px;
}
.button01:hover{
    border-radius: 50px;
    width:100px;
    background-color: #865aff;
}
#button01bg {
    width:300px;
    height:95px;
    background-color: #8528ff;
    position: relative;

}
#medi_img {
    width:600px;
    height:400px;
    cursor:pointer;
    position: relative;
    left:1200px;
    border:1px #575757 solid;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #000000;
    transition:all 0.5s ease ;
    background:url(../src/medicine.jpg);
    background-size: 100%;
    background-position: center;
}
#medi_img:hover {
    border-radius: 50px;
    background-size: 120%;
}
#medi_title {
    text-align: center;
    position: relative;
    left:-400px;
    bottom:300px;
    font-size: 55px;
    font-family:Dela Gothic One ;
    color:rgb(20, 20, 20);
}

#ai_img {
    height:400px;
    width:600px;
    border:1px rgb(54, 54, 54) solid;
    border-radius: 30px;
    position: relative;
    left:100px;
    transition: all 0.5s ease;
    box-shadow: -10px 10px 10px #000000;
    background: url("../src/ai.jpg");
    background-size: 100%;
    background-position: center;
}
#ai_img:hover {
    border-radius: 50px;
    background-size: 120%;
}

#ai_title {
    font-size:60px;
    font-family: Dela Gothic One;
    position: relative;
    text-align: center;
    left:300px;
    bottom:300px;
    color:#111111;
}
.button02 {
    width:100px;
    height:95px;
    background-color: #8528ff;
    position: relative;
    left:40vmin;
    bottom:300px;
    border-radius: 40px;
    transition: all 0.3s ease-in;
    font-family:Dela Gothic One;
    font-size:25px;
}
.button02 a {
    text-decoration: none;
    position: relative;
    left:50px;
    top:-70px;
    color:white;
    transition: all 0.3s ease-in;
}
.button02:hover a {
    color:black;
}
.button02:hover{
    width:300px;
    background-color: #9679ff;
}
#button02bg {
    height:95px;
    width:300px;
    background-color: #8528ff;
    border-radius: 40px;
    position: relative;
    z-index: -900;
}
.button03 {
    width:150px;
    height:95px;
    background-color: #c6b2ff;
    position: relative;
    left:117vmin;
    bottom:250px;
    border-radius: 40px;
    transition: all 0.2s ease-in;
    font-family:Dela Gothic One;
    font-size:25px;
}
.button03 a {
    text-decoration: none;
    position: relative;
    top:27px;
    left:50px;
    transition: all 0.2s ease-in;
}
.button03:hover {
    border-radius: 50px;
    width:94px;
    background-color: #865aff;
}