@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
* {
    padding:0px;
    margin:0px;
}
body {
    height:100%;
    width:100%;
    background: rgb(171,164,246);
    background: linear-gradient(180deg, rgba(171,164,246,1) 0%, rgba(255,255,255,1) 47%, rgba(171,164,246,1) 100%); 
}
.page1 {
    width: 100%;
    height: auto;
}





/*  Top Navbar */
.top-navbar {
    width:98%;
    height:3vh;
    display: flex;
    padding-bottom: 30px;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#top-left-nav {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;
}

#top-right-nav {
    display: flex;
    flex-shrink:1;
}



/*The Main Navbar */
.navbar {
    width:98vw;
    height:auto;
    margin: 10px;
    padding: 5px;
    align-items: center;
    border-radius: 15px;
    background-color: #a39aff;
    border:3px #b0e9ff solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Left_nav {
    display: flex;
    justify-content: flex-start;
}
.Right_nav {
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

.Left_nav a{
    font-size: 40px;
    font-weight: 800;
    font-family:Poppins;
    color: rgb(48, 48, 48);
}
.Right_nav a{
    font-size: 24px;
    font-weight:500;
    font-family:Poppins;
    color: rgb(48, 48, 48);
}
.navbar a {
    text-decoration: none;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color:white;
    text-shadow: 0px 0px 6px #000000;
    transform: scale(1.1);
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 30px;;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainright {
    height:100vh;
    width:40vw;
    display: flex;
    filter:drop-shadow(20px 10px 10px rgb(75, 75, 75));
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
    background:url("../src/doc_img.png");
    background-position: center;
    background-size: 92%;
    border: 2px blue solid;
    background-repeat: no-repeat;
}
.mainright:hover {
    transform:scale(1.05);
}

.mainleft {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:3px blue solid;
}

.Main_title {
    color:rgb(44, 37, 37);
    font-size:650%;
    font-weight:900;
    font-family: Dela Gothic One;
    text-shadow: -7px 4px 4px rgba(255, 255, 255, 0.5);
    line-height: 150px;
    padding-left: 70px;
    animation-name: maintitleanime;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes maintitleanime {
    0%{
        position: relative;
        top:-20px;
        opacity: 0%;
        transform:scale(0.5);
    }
    100%{
        top:20px;
        opacity: 100%;
    }
}
.Slogan1 {
    font-size: 20px;
    font-family: Poppins;
    text-align: center;
    color: #292929;
    padding-top: 90px;
}
.Slogan2 {
    color: #1a1a1a;
    font-size: 50px;
    padding: 20px;
    background-color: #d7c7fc;
    font-family:Poppins;
    border:1px rgb(167, 167, 167) solid;
    border-radius: 35px;
}

.page2 {
    display: flex;
}

.page2left {
    display: flex;
}

.page2right {
    display: flex;
}
.page2box {
    display: flex;
    height:20vh;
    width:20vw;
    background-color: beige;
    border:2px blue solid;
    align-items: center;
}
