@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lexend:wght@100..900&display=swap');

* {
    padding:0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../src/login1.jpg);
    background-size:120%;
}

.main {
    border: 3px solid rgb(215, 191, 253);
    backdrop-filter: blur(25px);
    border-radius: 40px;
    font-family: Lexend;
    height: 700px;
    width:auto;
}
.main h1{
    font-size:70px;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 5px 5px 0px rgb(52, 0, 136) ;
    transition: all 0.3s ease;
}
.main h1:hover {
    text-shadow: 9px 9px 0px rgb(52, 0, 136) ;
}

.input-box {
    margin:30px;
}
.input-box input {
    height:50px;
    width:350px;
    background: transparent;
    border:3px solid rgb(210, 203, 248);
    border-radius: 40px;
    padding-left: 10px;;
    color: white;
}
.input-box input::placeholder {
    color: white;
    font-size: 15px;
}
.checkbox {
    display: flex;
    justify-content: space-around;
}
.login{
    display: flex;
    justify-content: center;
    padding:20px;
}
.login button{
    font-family: Lexend;
    font-weight: 500;
    font-size: 25px;
    height:70px;
    width:100%;
    border-radius: 40px;
    border:3px solid rgb(205, 182, 248);
    background-color: white;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px 0px rgb(187, 145, 255) ;
    transition: all 0.3s ease;
}
.login button:hover{
    text-shadow: 3px 3px 0px rgb(192, 96, 255) ;
}

.forget {
    display: flex;
    padding-bottom: 40px;
    padding-top: 120px;
    justify-content: center;
}
.guest{
    display: flex;
    justify-content: center;
    position: relative;
    bottom:170px;
    padding-left:20px;
    padding-right:20px;
}
.guest a{
    height:70px;
    width:100%;
}
.guest button{
    font-family: Lexend;
    height:70px;
    width:100%;
    font-weight: 500;
    font-size: 20px;
    border-radius: 40px;
    border:3px solid rgb(205, 182, 248);
    background-color: white;
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px 0px rgb(187, 145, 255) ;
    transition: all 0.3s ease;
}
.guest button:hover{
    text-shadow: 2px 2px 0px rgb(192, 96, 255) ;
}