@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
}
html,body{
    min-height:100vh;
    width:100%;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:Poppins;
    min-height:100vh;
    background:url(../src/login1.jpg);
    background-position: center;
    background-size: cover;
}

#mainform {
    height:auto;
    width:400px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(40px);
    border-radius: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
}


#main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height:auto;
}

h1{
    font-size:5rem;
    color:white;
    text-align:center;
    text-shadow: 3px 3px 0px orangered; 
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
h1:hover{
    text-shadow:8px 8px 0px orangered; 
}
.checkbox{
    color:black;
}

.log{
    height:50px;
    width:350px;
    margin:30px;
    background: transparent;
    border:3px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding-left: 10px;;
    color: black;
}
input::placeholder {
    color: black;
    font-size: 15px;
}
#btn{
    text-decoration: none;
    height:50px;
    width:350px;
    margin:30px;
    background-color: white;
    border:3px solid rgb(210, 203, 248);
    border-radius: 40px;
    padding-left: 10px;;
    color: black;
    font-size:1.5rem;
    font-weight:600;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
}
#btn:hover{
    background-color: rgb(210, 163, 255);
}
button a{
    text-decoration: none;
}
.forget{
    color:white;
}
.forget a{
    color:orangered;
}