body {
    background-image: url(bmrBg1.jpg);
    background-size: cover;
}

h2 {
    width: 703px;
    background-color: rgb(173, 217, 243);
    border: 2px solid black;
    position:absolute;
    margin-top: -28px;
    margin-left: 628px;
    border-left: 1px;
}

#img{
    margin-top: 85px;
    margin-left: 600px;
    border: 2px solid black;
    width: 730px;
    height: 500px;
}

#img1{
    position: absolute;
    margin-top: -25px;
    margin-left: 216px;
    border: 0.5px solid black;
    width: 350px;
    height: 200px;
}
#aboutBMR{
    position: absolute;
    margin-top: -300px;
    margin-left: 195px;
    background: 1px solid white;
    background-color: rgb(204, 212, 230);
    font-size: 19px;
    font-weight:
    
}
#BMR{
    position:absolute;
    margin-left: 800px;
    margin-top: -290px;
    
}

#Gender{
    position:sticky;
    margin-left: 32px;
}

#Height{
    position:sticky;
    margin-left: 7px;
}

#Age{
    position:sticky;
    margin-left: 53px;
}

#Calculate{
    position:sticky;
    margin-left: 110px;
    
}
 

#Result{
    position: sticky;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;
    width: 200px;
    height: 55px;
    background-color: rgb(194, 228, 228);
    padding-left: 50px;
}

#RB{
   
    position: sticky;
    margin-left: 850px;
    margin-top: -130px;
    

}
#Icon{
    position: absolute;
    top: 57px;
    right: 729px;
    height: 27px;
    
    border: 2px solid black;
    border-right: 1px;
    background-color: rgb(173, 217, 243);


}

#v_line {
    position:absolute;
    border-left: 2px solid white;
    height: 580px; 
    margin-left: 180px;
    margin-top: -450px;
    color: aliceblue;
} 

.QuickPanel {
    position: absolute;
    margin-left: 15px;
    width: 150px;
    font-size: 1.4rem;
    color: #f0f0f0;
    display:flex;
    flex-direction: column;
    margin-top: -50px; 
    gap: 5px;
}

.QuickPanel a {
    margin-bottom: 20px; /* Add a margin between elements */
    text-decoration: none;
    border: 1px solid white;
    border-radius:5px;
    text-align:center;
    color: inherit;
}
.QuickPanel a:hover{
    background-color: grey;
    color:black;
}
