body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	background-image: url(wimg12.jpg);
	z-index: -1;
}


#v_line{
    position:absolute;
    border-left: 2px solid white;
    height: 580px; 
    margin-left: -900px;
    margin-top: 0px;
    color: aliceblue;
}

#image{
	position:absolute;
	margin-left: 250px;
}

.container {
	margin-left: -100px;
}


#city-name{
	font-size: 30px;
	font-weight: bold;
}
#temperature {
	font-size: 30px;
	font-weight: bold;
	margin: 8px 0;
}

#description {
	font-size: 20px;
	font-weight: bold;
	text-transform:capitalize;
	margin-bottom: 10px;
}

#wind-speed {
	font-size: 20px;
	color: rgb(255, 0, 0);
	font-weight:bold;
}

#date {
	font-size: 20px;
	color: rgb(255, 0, 0);
    font-weight: bold;
}

#home{
	position: absolute;
    margin-left: -1150px;
	margin-top: -450px;
    font-size: 25px;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: aqua;
	color: bisque;
}

.QuickPanel {
    position: absolute;
    margin-top: px;
    margin-left: -1135px;
    width: 150px;
    font-size: 18px;
	font-weight: bold;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #a2def0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.QuickPanel a {
    border: 2px solid #4d4d4e; /* Add a border to each link */
    border-radius: 5px;
    padding: 5px; 
    text-decoration: none; /* Remove underlines from links */
    color: #000000; /* Darken the link color */
    transition: background-color 0.2s ease; /* Smooth transition on hover */
}

.QuickPanel a:hover {
    background-color: #86c0ca; /* Lighten the background color on hover */
}